[run]
branch = True
source = emergence_complexity_measures_comparison/*
include = emergence_complexity_measures_comparison/*
omit = */setup.py
[report]
include = emergence_complexity_measures_comparison/*
