# IDEs
.vscode/
.idea/

# Intermediate Coverage file
.coverage

# Output files
*.png
!doc/images/*.png
*.pkl

# Python runtime
*.pyc
*.egg-info
.pytest_cache

# Virtual environments
.venv/
venv/

# Other folder and files
results/
examples/
_build/
auto_examples/
gen_api/
*.py[co]
*~
*.DS_Store
*.zip
*.odt
echo "src/complexpy/plotting.py" >> .gitignore
